{{ form_start(formFormation) }}
      <div class="row">
          <div class="col">
              <div class="row">
                  <div class="col-auto">
                      {{ form_row(formFormation.publishedAt) }}
                  </div>
                  <div class="col">
                      {{ form_row(formFormation.title) }}
                  </div>
                  <div class="col">
                      {{ form_row(formFormation.playlist) }}
                  </div>
              </div>
          </div>
          <div class="col">                     
               <!-- emplacement image -->  
               <div>
                   {{ form_row(formFormation.videoFile) }}
               </div>
          </div>
      </div>
       {{ form_row(formFormation.description) }} 
       {{ form_row(formFormation.categories) }}
    
    {{ form_end(formFormation) }}
